
@{
    ViewBag.Title = "ListofUsers";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2>Offer Latter User</h2>
<div id="divlistoflatterusers" >
    @Html.Action("GetData", "Account");
</div>
<div>
    <p>
        Hello,Here All Process and Rounding Proccess for Interview Process Complete after then Admin Send "Offer Letter Directly send Users ? Mail".
    </p>


</div>
