@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recrutment System</h1>
    <p class="lead">Recrutment System is Online Recrutment User.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Here,Register with you Comapny Detail and After you create Admin on your comapny.
            Register after get Mail for Your Password to Login Process.Admin Create Hr/Peraticular Person
            for register for Users and follwing process.Admin Is Authorize Person for Approval process to get it.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More Forms</h2>
        <p>Recrutment Process for new HR/Particular Person Add Job Information like New Job Opening for Our Company.Add some Detail and get in touch with system.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Directly OfferLetter</h2>
        <p>System auto genrate offerletter.Users Easily get Offerlater after inerview process Complete.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>