
@{
    ViewBag.Title = "ListOfApprovalJobs";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2>Approval Jobs</h2>
@*ManageAprroval*@

<div id="divlistofApprovaljobs">
    @Html.Action("ManageAprroval", "Home");
</div>
<div>
    <p>
        Hello,Here the "Company Hr" Add Some Job Opening Recrutment Admin Need to process.
    </p>
    <p>
        Approval Admin For Some Job Opening after "Hr" add Some Candidate for Interviewning for Comapny.
    </p>


</div>