
@{
    ViewBag.Title = "ListOfIsActive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>List Of IsActive</h2>*@
<div id="divlisetofactiv">
    @Html.Action("ISActive", "Home");
</div>
<div>
    <p>
        Hello,Here the Hr Active befor interviewer go for interview process.
    </p>
    <p>
        In future Company Isactive user come in Office room for select the interview.
    </p>
</div>
