
@{
    ViewBag.Title = "ListOfJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="divlistofjobs">
    @Html.Action("ManageJobIsOpen", "Home");
</div>
<div>
    <p>
        Here,Hr Manages Some Jobs Opening.
    </p>
</div>
